body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: #000;
}

a {
	color: inherit;
	text-decoration: none;
}

.earth_container {
	/*width: 500px;*/
	height: 100%;
	position: relative;
	overflow: hidden;
}
.back {
	height: 100%;
	width: 100%;
	bottom: 0;
	position: fixed;
	opacity: 0.5;
}
.layer {
	height: 100%;
	width: 100%;
	bottom: 0;
	position: fixed;
	/*top: ;*/
}
.earth {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0.8;
}
.ss {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 20px;
}
.moon {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
.object {
	height: 100px;
	position: fixed;
}
.name {
	color: #000;
	margin-left: 50px;
	margin-top: -20px;
	background-color: #fff;
	padding: 5px;
	border-radius: 10px;
	opacity: 0.8;
}

.menu-icon {
	position: fixed;
	top: 30px;
	color: #fff;
	left: 20px;
	transform: rotate(90deg);
}

.menu-icon > span {
	width: 50px;
	height: 2px;
	border-radius: 0.25rem;
	background-color: #fff;
	margin: 5px;
	transition: transform 1s cubic-bezier(0.5, 0, 0, 1), background-color 0.5s;
}

.media-icons {
	display: flex;
	flex-direction: column;
	height: 100%;
	position: fixed;
	top: 0;
	left: 20px;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.icon-3d {
	padding: 10px;
	color: #fff;
}

.disclaimer {
	font-size: small;
	color: #fff;
	position: fixed;
	bottom: 0px;
	right: 20px;
	font-weight: 500;
}
.footer {
	font-size: medium;
	color: #fff;
	position: fixed;
	bottom: 0px;
	left: 20px;
	font-weight: 700;
}

a{
	color: #fff;
	text-decoration: none;
}

@keyframes floating {
	0% {
		transform: translate(0, 0px);
	}
	50% {
		transform: translate(0, 15px);
	}
	100% {
		transform: translate(0, -0px);
	}
}

@media (max-width: 1024px) {
	.earth {
		height: 50%;
		top: 50%;
	}
	.ss {
		height: 50%;
		margin-top: 20%;
	}
	.moon {
		height: 50%;
		margin-top: 20%;
	}
	.object {
		height: 80px;
		animation: floating 3s ease-in-out infinite;
	}
	.name {
		margin-top: -15px;
		margin-left: 20px;
		font-size: 0.6rem;
	}
	.footer {
		margin-bottom: 40px;
		font-size: small;
	}
	.disclaimer {
		font-size: 0.6rem;
	}
}
